body {
	background-color: #232323;
	color: #dddddd;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;

	width: 100%;
}

h1 {
	display: block;

	background-color: darkorange;

	margin: 30px auto;
	padding: 1rem 2rem;

	border-radius: 1em;

	text-align: center;
}
